<div class="container" id="content-container">
  <div class="card mb-4 text-white bg-danger">
    <div class="card-header">
      <h2 class="my-0 font-weight-normal text-center">Negative (Score: {{sentiment_score}})</h2>
    </div>
      <div class="card-body text-center">
        <form>
          <div class="form-group">
            <h4 class="text-light">{{message}}</h4>
            <p class="text-light">Text Analyized: {{analyized_text}}</p>
          </div>
        </form>
        <a type="button" class="btn btn-lg btn-block btn-secondary" href="/">Analyze something else</a>
    </div>
  </div>
</div>
